@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;700&family=Lato:wght@700&family=Mulish:wght@500&family=Orbitron:wght@700&family=PT+Sans&family=Playfair+Display:wght@700&family=Poppins:wght@400;700&family=Roboto:wght@300;400&family=Rubik:wght@500&family=Schoolbell&display=swap");
html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  font-family: "Roboto", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
  cursor: pointer;
}

body::-webkit-scrollbar {
  max-width: 15px;
  height: 15px;
}

body::-webkit-scrollbar-track {
  background-color: var(--pirimary-color);
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--black-color);
  border-radius: 10px;
}

.container {
  max-width: 1148px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
}

#home {
  padding-top: 130px;
}

.home__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.home__wrapper h1 {
  margin-bottom: 18px;
  max-width: 518px;
  color: #22343D;
  font-family: Poppins;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px;
}
.home__wrapper p {
  max-width: 458px;
  height: 95px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  color: #22343D;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
}
.home__wrapper ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}
.home__wrapper li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}
.home__wrapper button {
  padding: 15px 41px;
  max-width: 175px;
  height: 53px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 4px;
  color: #FFF;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  background: #02897A;
}
.home__wrapper a {
  color: #02897A;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-decoration-line: underline;
}
@media (min-width: 300px) {
  .home__wrapper {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 50px;
  }
}
@media (min-width: 1000px) {
  .home__wrapper__right__img {
    max-width: 600px;
  }
}
@media (min-width: 1000px) {
  .home__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (min-width: 300px) {
  .home__list {
    margin-top: 50px;
  }
  .home__right__img {
    width: 100%;
  }
}
@media (min-width: 1000px) {
  .home__right__img {
    max-width: 600px;
  }
}
header {
  position: fixed;
  width: 100%;
  padding-top: 20px;
  height: 80px;
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  background-color: red;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.navbar__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
}
.navbar__left__link {
  color: #173A56;
  font-family: Poppins;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
}
.navbar__right__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24px;
}
@media (min-width: 280px) {
  .navbar__right__list {
    display: none;
  }
}
@media (min-width: 900px) {
  .navbar__right__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.navbar__right__link {
  color: #22343D;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.navbar__right__link:hover {
  font-weight: 600;
}
.navbar__right__btn {
  padding: 10px 25px;
  max-width: 110px;
  height: 43px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid #BCD0E5;
  color: #173A56;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.navbar__right__btn:hover {
  color: #FFF;
  background: #02897A;
}

.btn__navbar {
  max-width: 120px;
  height: 43px;
  color: #FFF;
  background: #02897A;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.right__link {
  font-weight: 600;
}

.dark {
  background-color: black;
}

.dark :is(#plan, footer, .cards, .plan__card, .carousel__card, header) {
  background-color: black;
}

.dark * {
  color: white !important;
}

.dark :is(.home__title, span) {
  color: white;
}

#mode-btn img {
  width: 40px;
}

#mode-btn {
  background-color: transparent;
}

#navbar {
  padding: 20px 0;
}

.navbar-shrink {
  padding: 20px 0;
}

#backtop {
  border-radius: 10px;
  position: fixed;
  right: 20px;
  bottom: -50px;
  background-color: transparent;
  background-color: #02897A;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.backtop__link img {
  display: block;
  padding: 15px;
  color: green;
  font-size: red;
}

#backtop.backtop-show {
  bottom: 50px;
}

.menu__btn img {
  border: none;
  background-color: transparent;
  font-size: 30px;
}

#product {
  padding: 114px 0px 96px;
  background: url(../images/homebg.jpg) no-repeat 250px 250px;
}

.product__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.product__wrapper__title {
  margin-bottom: 66px;
  max-width: 539px;
  color: #22343D;
  text-align: center;
  font-family: Poppins;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.product__wrapper__cards {
  margin-bottom: 34px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 46px;
}
.product__wrapper__card__title {
  margin: 30px 0px 10px;
  color: #22343D;
  font-family: Poppins;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
}
.product__wrapper__card__text {
  max-width: 240px;
  color: #22343D;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}
.product__wrapper__card__btn {
  padding: 15px 32px;
  max-width: 175px;
  height: 53px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 4px;
  color: #FFF;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  background: #02897A;
}

#managment {
  padding-top: 59px;
}

.managment__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.managment__wrapper__title {
  margin-bottom: 23px;
  color: #22343D;
  font-family: Poppins;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.managment__wrapper__text {
  margin-bottom: 30px;
  max-width: 486px;
  color: #22343D;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}
@media (min-width: 300px) {
  .managment__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media (min-width: 300px) {
  .managment__wrapper__img {
    width: 100%;
  }
}
@media (min-width: 1000px) {
  .managment__wrapper__img {
    max-width: 540px;
  }
}

.title {
  margin-bottom: 8px;
  color: #22343D;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
}

#customer {
  padding-top: 150px;
}

.customer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 106px;
}
.customer__wrapper__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.customer__wrapper__right__title {
  margin-bottom: 23px;
  color: #22343D;
  font-family: Poppins;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
}
.customer__wrapper__right__text {
  margin-bottom: 30px;
  max-width: 486px;
  color: #22343D;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}
.customer__wrapper__right__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
}
.customer__wrapper__right__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}
@media (min-width: 300px) {
  .customer__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media (min-width: 1000px) {
  .customer__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 300px) {
  .customer__wrapper__img {
    width: 100%;
  }
}
@media (min-width: 100px) {
  .customer__wrapper__img {
    max-width: 543px;
  }
}

#collaborative {
  padding: 168px 0px 150px;
}

.collaborative__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 84px;
}
.collaborative__wrapper__left__title {
  margin-bottom: 23px;
  color: #22343D;
  font-family: Poppins;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
}
.collaborative__wrapper__left__text {
  margin-bottom: 30px;
  max-width: 486px;
  color: #22343D;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}
@media (min-width: 300px) {
  .collaborative__wrapper {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
  }
}
@media (min-width: 300px) {
  .collaborative__wrapper__img {
    width: 100%;
  }
}
@media (min-width: 1000px) {
  .collaborative__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1000px) {
  .collaborative__wrapper__img {
    width: 542px;
  }
}

#process {
  padding-top: 54px;
  background: url(../images/processbg.png) no-repeat 250px 10px;
}

.process__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.process__wrapper__title {
  margin-bottom: 16px;
  color: #22343D;
  text-align: center;
  font-family: Poppins;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
}
.process__wrapper__text {
  margin-bottom: 32px;
  max-width: 542px;
  color: #22343D;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
}
.process__wrapper__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 120px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.process__wrapper__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
}
.process__wrapper__list__item {
  padding: 10px 15px;
  border-radius: 50px;
  background-color: white;
  -webkit-box-shadow: 0px 0px 2px 2px gray;
          box-shadow: 0px 0px 2px 2px gray;
}
.process__wrapper__btn {
  padding: 15px 32px;
  max-width: 220px;
  height: 53px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 4px;
  color: #FFF;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  background: #02897A;
}

#content {
  padding-top: 150px;
}

.content__wrapper__title {
  margin-bottom: 8px;
  color: #22343D;
  font-family: Poppins;
  font-size: 34px;
  font-style: normal;
  font-weight: 700;
}
.content__wrapper__text {
  margin-bottom: 33px;
  max-width: 693px;
  color: #22343D;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
}
.content__wrapper__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (min-width: 300px) {
  .content__wrapper__cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.content__wrapper__card {
  border: 1px solid #ddd;
  border-radius: 10px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
@media (min-width: 300px) {
  .content__wrapper__card img {
    width: 100%;
  }
}
@media (min-width: 1000px) {
  .content__wrapper__card img {
    max-width: 348px;
  }
}
.content__wrapper__card:hover {
  -webkit-box-shadow: 0px 0px 5px 5px gray;
          box-shadow: 0px 0px 5px 5px gray;
}
.content__wrapper__card img {
  border-radius: 10px 10px 0px 0px;
  margin-bottom: 24px;
}

.content__wrapper__card__contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 30px;
  padding-bottom: 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 12px;
}

.content__wrapper__card__text {
  color: #22343D;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}

.content__wrapper__card__text span {
  font-weight: 700;
}

.content__wrapper__card__title {
  font-weight: 700;
  max-width: 294px;
  height: 70px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  color: #22343D;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
}

#pricing {
  padding-top: 150px;
}

.pricing__wrapper__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
}
.pricing__wrapper__title {
  color: #22343D;
  font-family: Poppins;
  font-size: 34px;
  font-style: normal;
  font-weight: 700;
}
.pricing__wrapper__text {
  margin-bottom: 50px;
  color: #22343D;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
}
.pricing__wrapper__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  row-gap: 20px;
}
.pricing__wrapper__card {
  max-width: 322.649px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 8px;
  background: #FFF;
  -webkit-box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.25);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
@media (min-width: 300px) {
  .pricing__wrapper__card {
    width: 100%;
  }
}
@media (min-width: 1000px) {
  .pricing__wrapper__card {
    max-width: 323px;
  }
}
.pricing__wrapper__card:hover {
  -webkit-box-shadow: 0px 0px 5px 5px gray;
          box-shadow: 0px 0px 5px 5px gray;
}
.pricing__wrapper__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 24px 75px 32px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.pricing__wrapper__item span {
  margin-bottom: 8px;
  color: #22343D;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
}
.pricing__wrapper__item {
  margin-bottom: 16px;
  color: #22343D;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
}
.pricing__wrapper__item p {
  color: #02897A;
  text-align: center;
  font-family: Poppins;
  font-size: 76px;
  font-style: normal;
  font-weight: 700;
  line-height: 100px;
  letter-spacing: 0.2px;
}

.item__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.pricing__wrapper__item__list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.pricing__wrapper__item__list__item span {
  color: #AFAFAF;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0.1px;
}

.pricing__item {
  margin-bottom: 10px;
  color: #22343D;
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0.2px;
}
.pricing__item__btn {
  margin-top: 28px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 11px 19px 11px 18px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFF;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 600;
  border-radius: 8px;
  background: #02897A;
  line-height: 22px;
  letter-spacing: 0.2px;
}

.card__2 {
  background: #02897A;
}

.item__2 span, .pricing__wrapper__item {
  color: #fff;
}

.pricing__wrapper__item__list__item {
  color: #fff;
}

.item__column__text {
  color: #fff;
}

#cilent {
  padding-top: 150px;
}

.cilent__wrapper__header {
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.cilent__wrapper__title {
  margin-bottom: 8px;
  color: #22343D;
  font-family: Poppins;
  font-size: 34px;
  font-style: normal;
  font-weight: 700;
  line-height: 57px;
  letter-spacing: 0.2px;
}
.cilent__wrapper__text {
  max-width: 537px;
  color: #22343D;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0.2px;
}
.cilent__wrapper__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 64px;
}
.cilent__wrapper__card {
  padding: 28px 26px 24px;
  max-width: 327px;
  height: 236px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 5px;
  border: 1px solid #DEDEDE;
}
@media (min-width: 300px) {
  .cilent__wrapper__card {
    width: 100%;
  }
}
@media (min-width: 1000px) {
  .cilent__wrapper__card {
    max-width: 300px;
  }
}
.cilent__wrapper__card:hover {
  -webkit-box-shadow: 0px 0px 5px 5px gray;
          box-shadow: 0px 0px 5px 5px gray;
}
.cilent__wrapper__card__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
}

.cilent__card__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 14px;
}

.cilent__item__list__item span {
  display: block;
  color: #02897A;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.2px;
}

#resources {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 157px;
}

.resources__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 14px 36px 0px 51px;
  max-width: 968px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 32px;
  background: #02897A;
}
.resources__wrapper__left {
  margin-top: 49px;
}
.resources__wrapper__text {
  margin-bottom: 10px;
  max-width: 510px;
  height: 92px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  color: #FFF;
  font-family: Poppins;
  font-size: 32px;
  font-weight: 600;
  line-height: 151.4%;
}
@media (min-width: 300px) {
  .resources__wrapper__text {
    margin-top: 100px;
  }
}
@media (min-width: 1000px) {
  .resources__wrapper__text {
    margin-top: 10px;
  }
}
.resources__wrapper__btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 13px 35px 7px 33px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #02897A;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border-radius: 8px;
  background: #FFF;
}
@media (min-width: 300px) {
  .resources__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 50px;
    width: 100%;
  }
}
@media (min-width: 1000px) {
  .resources__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 300px) {
  .resources__wrapper__img {
    width: 100%;
  }
}
@media (min-width: 1000px) {
  .resources__wrapper__img {
    max-width: 968px;
  }
}

.resources__wrapper:hover {
  -webkit-box-shadow: 0px 0px 5px 5px gray;
          box-shadow: 0px 0px 5px 5px gray;
}

#footer {
  padding: 150px 0px 46px;
}

.footer__wrapper__columns {
  padding-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (min-width: 300px) {
  .footer__wrapper__columns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.footer__wrapper__item {
  margin-bottom: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
}
.footer__wrapper__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.footer__wrapper__box p {
  margin-bottom: 10px;
  max-width: 280px;
  height: 57px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  color: #22343D;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
}
.footer__wrapper__box__btn {
  max-width: 131px;
  height: 39px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 4px;
  color: #FFF;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  background: #02897A;
}
.footer__wrapper__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 300px;
  max-width: 394px;
  height: 31px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  color: #22343D;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}
@media (min-width: 300px) {
  .footer__wrapper__link {
    display: none;
  }
}
@media (min-width: 1000px) {
  .footer__wrapper__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media (min-width: 300px) {
  .footer__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (min-width: 1000px) {
  .footer__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 153px;
}
@media (min-width: 300px) {
  .footer__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.footer__item__text {
  margin-bottom: 10px;
  color: #22343D;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: bold;
  line-height: 30px;
}

.footer__item__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}

input {
  margin-bottom: 10px;
  max-width: 325px;
  outline: none;
  height: 48px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid #BCD0E5;
  background: #FFF;
}