#cilent {
    padding-top: 150px;
}

.cilent__wrapper {
    &__header {
        margin-bottom: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__title {
        margin-bottom: 8px;
        color: #22343D;
        font-family: Poppins;
        font-size: 34px;
        font-style: normal;
        font-weight: 700;
        line-height: 57px;
        letter-spacing: 0.2px;
    }

    &__text {
        max-width: 537px;
        color: #22343D;
        text-align: center;
        font-family: Poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 28px;
        letter-spacing: 0.2px;
    }

    &__cards {
        display: flex;
        align-items: center;
        gap: 64px;
    }

    &__card {
        padding: 28px 26px 24px;
        max-width: 327px;
        height: 236px;
        flex-shrink: 0;
        border-radius: 5px;
        border: 1px solid #DEDEDE;
    }
    &__card:hover{
        box-shadow: 0px 0px 5px 5px gray;
    }
    &__card__list {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

}

.cilent__card__item {
    display: flex;
    align-items: center;
    gap: 14px;
}

.cilent__item__list__item span {
    display: block;
    color: #02897A;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.2px;
}