#content {
    padding-top: 150px;
}

.content__wrapper {
    &__title {
        margin-bottom: 8px;
        color: #22343D;
        font-family: Poppins;
        font-size: 34px;
        font-style: normal;
        font-weight: 700;
    }

    &__text {
        margin-bottom: 33px;
        max-width: 693px;
        color: #22343D;
        font-family: Poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 26px;
    }

    &__cards {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__card {
        border: 1px solid #ddd;
        border-radius: 10px;
        transition: 0.5s;
    }

    &__card:hover {
        box-shadow: 0px 0px 5px 5px gray;
    }

    &__card img {
        border-radius: 10px 10px 0px 0px;
        margin-bottom: 24px;
    }
}

.content__wrapper__card__contents {
    display: flex;
    margin-left: 30px;
    padding-bottom: 40px;
    flex-direction: column;
    justify-content: center;
    gap: 12px;
}

.content__wrapper__card__text {
    color: #22343D;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}

.content__wrapper__card__text span {
    font-weight: 700;
}

.content__wrapper__card__title {
    font-weight: 700;
    max-width: 294px;
    height: 70px;
    flex-shrink: 0;
    color: #22343D;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
}