#customer {
    padding-top: 150px;
}

.customer__wrapper {
    display: flex;
    align-items: center;
    gap: 106px;

    &__right {
        display: flex;
        flex-direction: column;

        &__title {
            margin-bottom: 23px;
            color: #22343D;
            font-family: Poppins;
            font-size: 32px;
            font-style: normal;
            font-weight: 700;
        }

        &__text {
            margin-bottom: 30px;
            max-width: 486px;
            color: #22343D;
            font-family: Poppins;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 26px;

        }

        &__list {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 30px;
        }

        &__item {
            display: flex;
            align-items: center;
            gap: 30px;
        }
    }
}