#resources {
    display: flex;
    justify-content: center;
    padding-top: 157px;
}

.resources__wrapper {
    display: flex;
    justify-content: space-between;
    padding: 14px 36px 0px 51px;
    max-width: 968px;
    flex-shrink: 0;
    border-radius: 32px;
    background: #02897A;

    &__left {
        margin-top: 49px;
    }

    &__text {
        margin-bottom: 10px;
        max-width: 510px;
        height: 92px;
        flex-shrink: 0;
        color: #FFF;
        font-family: Poppins;
        font-size: 32px;
        font-weight: 600;
        line-height: 151.4%;
        @media(min-width:300px){
            margin-top: 100px;
        }
        @media(min-width:1000px){
            margin-top: 10px;
        }
    }

    &__btn {
        display: inline-flex;
        padding: 13px 35px 7px 33px;
        justify-content: center;
        align-items: center;
        color: #02897A;
        font-family: Poppins;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        border-radius: 8px;
        background: #FFF;
    }
    @media(min-width:300px){
        display: flex;
        flex-direction: column;
        gap: 50px;
        width: 100%;
    }
    @media(min-width:1000px){
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    &__img{
        @media(min-width:300px){
            width: 100%;
        }
        @media(min-width:1000px){
            max-width: 968px;

        }
    }

}

.resources__wrapper:hover {
    box-shadow: 0px 0px 5px 5px gray;
}